/* Общие стили для body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  background-image: url("frieren.png");
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Основной контейнер */
.mainContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
}

/* Заголовок */
.h1 {
  text-align: center;
  color: #444;
  margin-top: 13px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

/* Форма */
.textForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для textarea */
.textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  resize: none; /* Позволяет изменять высоту textarea */
  background-color: #f9f9f9;
}

.textarea:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Стили для кнопок */
.button {
  padding: 10px 20px;
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.buttonsFirst {
  gap: 20px;
  width: 100%;
  display: flex;
  padding: 10px 0px;
  flex-direction: row;
  align-items: center;
}

.button:hover {
  /* transform: scale(1.03); */
  transition: 0.3s;
}

.button.submit {
  background-color: #007bff;
  color: white;
}

.button.submit:hover {
  background-color: #0056b3;
}

.button.reset {
  background-color: #6c757d;
  color: white;
}

.button.reset:hover {
  background-color: #5a6268;
}

.button.copy {
  background-color: #28a745;
  color: white;
}

.button.copy:hover {
  background-color: #218838;
}

/* Стили для уведомления "Скопировано" */
.notice {
  color: #28a745;
  font-size: 14px;
  visibility: hidden;
  margin-top: 5px;
}

.textarea::-webkit-scrollbar {
  width: 8px;
}

.textarea::-webkit-scrollbar-track {
  background: #f9f9f9; /* Цвет фона трека */
  border-radius: 6px; /* Скругление углов трека */
}

.textarea::-webkit-scrollbar-thumb {
  background: #dadada; /* Цвет ползунка */
  border-radius: 4px; /* Скругление углов ползунка */
  border: 2px solid #f9f9f9; /* Отступ вокруг ползунка */
  cursor: pointer;
}

.textarea::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb; /* Цвет ползунка при наведении */
}
